@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

body {
    font-family: 'Droid Serif';
}

h1, h2, h3 {
    font-family: 'Yanone Kaffeesatz';
    font-weight: normal;
    color: #00838F;
}

p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.inverse {
    background: #006064;
    color: #ECEFF1;
    text-shadow: 0 0 20px #333;
}
.inverse h1, .inverse h2 {
    color: #ECEFF1;
    line-height: 0.8em;
}

.inverse a {
    color: #ECEFF1;
    text-decoration: none;
    font-family: monospace;
}

blockquote {
    border-left: 3px solid #EF6C00;
    padding-left: 0.75em;
    margin-left: 0.25em;
}

img {
    max-width: 100%;
}

.alert {
    color: #EF6C00;
}

.small {
    font-size: 0.75em;
}

.small img {
    height: 200px;
    margin: 30px 50px;
}

.medium img {
    height: 300px;
    margin: 30px 50px;
}

.remark-code, .remark-inline-code {
    font-family: 'Ubuntu Mono';
}

# From https://github.com/gnab/remark/issues/50#issuecomment-223887379
@page {
  size: 1210px 681px;
  margin: 0;
}

@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}
